{% extends 'base.html' %}
{% block content %}

<h1>Category List</h1>
<div class="row">
    <div class="col s6 col-offset-3">
        {% for category in category_list %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ category }}</span>
                <form action="{% url 'categories_detail' category.id %}">
                    {% csrf_token %}
                    <button type="submit">Category Details</button>
                </form>
            </div>
        {% for drink in category.drink_set.all %}
        <p>{{ drink.drink_name }}</p>
        {% empty %}
        <h3>No Drinks have been added to this category yet</h3>
        {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}